/* decoration */

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.dot {
  fill: #212529;
}

.dot:hover {
  fill: black;
  stroke: #212529;
  stroke-width: 5;
}
/* 
.pointdot {
  fill: red;
}

.pointdot:hover {
  fill: red;
  stroke: red;
  stroke-width: 5;
} */

.tooltip {
  display: none;
  position: absolute;
  border: 1px solid;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 10px;
  min-width: 30px;
  max-width: 400px;
}
