/* decoration */

.line {
  fill: none;
  stroke: #343a40;
  stroke-width: 2;
}

.multiline {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.8px;
}

.dot {
  fill: #212529;
}

.dot:hover {
  fill: black;
  stroke: #212529;
  stroke-width: 5;
}

.pointdot {
  fill: red;
}

.pointdot:hover {
  fill: red;
  stroke: red;
  stroke-width: 5;
}

.tooltip {
  display: none;
  position: absolute;
  border: 1px solid;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 10px;
  min-width: 150px;
  max-width: 400px;
}
/* 
.annotation text {
  fill: #e8336d;
  font-size: medium;
  /* "1": "#E8336D",
  "8": "#00897b" */
} */
/* 
.annotation-title {
  font-weight: bold;
  fill: #00897b;
} */
