/* tags */

html {
  font-family: Arial, sans-serif, Verdana, Tahoma, Times;
}

hr {
  border: groove 1px lightgray;
}

body {
  margin: 0;
}

main {
  margin: 0;
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: auto;
}

/* nav-: side-navigation-bar */

.nav-bg {
  display: flex;
  background-color: #2a2e31;
  padding: 1rem;
  width: 280px;
  flex-direction: column;
  flex-shrink: 0;
  overflow-y: auto;
}

.nav-title {
  font-size: 1.5rem;
  color: white;
  margin: 5px 0 6px 0;
}

.nav-items {
  margin-top: 5px;
  margin-bottom: auto;
  padding-left: 0;
  list-style: none;
  flex-direction: column !important;
}

.nav-icon {
  margin-right: 0.8rem;
}

.nav-item-select {
  border-radius: 0.25rem;
  display: flex;
  padding: 1rem 0.8rem 1rem 0.8rem;
  text-decoration: none;
  color: white !important;
  background-color: #156afd;
}

.nav-item-default {
  display: flex;
  padding: 1rem 0.8rem 1rem 0.8rem;
  text-decoration: none;
  color: white !important;
}

.nav-author {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 0.8rem 0.2rem 0.8rem;
  color: white !important;
  text-decoration: none;
  font-weight: bold;
  font-size: 120%;
}

.nav-author-icon {
  padding-right: 0.8rem;
}

/* page divider */

.page-divider {
  width: 1.5rem;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 1.5em rgba(0, 0, 0, 0.1),
    inset 0 0 0.5em rgba(0, 0, 0, 0.2);
}

/* content-: main description, controllers, and graphs */

.content-frame {
  width: 100%;
  padding: 1rem 2rem 1rem 2rem;
}
